<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}首页{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="/public/css/common/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/common/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/public/css/common/common.css">
    <link rel="stylesheet" href="/public/font/glyphicons-halflings-regular.ttf">
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block script %}
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>